<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EvalAndCall用法</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="application/javascript" src="../javaScripts/jqueryJs/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="../javaScripts/bootstrapJs/bootstrap.min.js"></script>
    <script type="application/javascript">
        window.onload=function () {
            //eval 函数应用
            var btn1 = document.getElementById('btn1');
            btn1.onclick=function () {
                eval("alert('dddd')");     //弹出dddd
                eval(showa());             //弹出ooo
                var dd = eval("showa");    //将 showa 方法返回
                alert(dd);
                alert(eval('随便的'));      //什么都不返回
            };
            function showa() {
                alert('ooo');
            }
            //call 函数应用
            function f(){
                this.a ="a";
                this.b = function(){
                    alert("b");
                }
            }
            function e(){
                f.call(this); // this 指的是 e  此代码的意思是 e 集成了f  在下面new e的时候就有了f 的a 和b
                              // 意思是  把 f 的方法 放到 this e 上使用
            }
            var btn2 = document.getElementById('btn2');
            btn2.onclick = function(){
                var c = new e();
                alert(c.a);  //弹出a
                c.b();    //弹出b
            };
            //call 函数应用2
            function add(a,b) {
                alert(a+b);
            }
            function sub(a,b){
                alert(a-b);
            }
            var btn3 = document.getElementById('btn3');
            btn3.onclick = function () {
                add.call(sub,3,1);
            };

            //eval 和 call 混合使用
            var btn4 = document.getElementById('btn4');
            btn4.onclick = function () {
                var showMsgFun = eval("showMsg");
                showMsgFun.call('ss','show someThing')
            };
            function showMsg(msg){
                alert(msg);
            }

            //复杂的call 用法
            function Class1 (){
                this.name = "name1";
                this.showName = function(){
                    alert(this.name);
                }
            }
            function Class2(){
                this.name = "name2";
            }
            var btn5 = document.getElementById("btn5");
            btn5.onclick = function () {
                var c1 = new Class1();
                var c2 = new Class2();
                c1.showName.call(c2)
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <button id="btn1">点击eval</button>
        <h3>eval() 函数用法</h3>
        <p>该方法只接受原始字符串作为参数，返回值是：通过计算string得到的返回值；
            如果string参数不是原始字符串，那么该方法不做任何改变的返回</p>

        <button id="btn2">点击call</button>
        <h3>call() 函数用法</h3>
        <p>obj1.call(obj2):将obj1 的方法放到obj2 上使用，有点类似于继承</p>
        <button id="btn3">call() 用法2</button>
        <p>fun1.call(fun2,a,b...):fun1 方法放到 fun2 上执行 后面是方法传的参数</p>
        <button id="btn5">复杂的call用法</button>
        <p>class(类)2 没有showName 方法 执行的2的name  走的是class1 的showName 方法 </p>
        <button id="btn4">eval 和 call 合用</button>
    </div>
</body>
</html>