<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>window.event兼容火狐</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="application/javascript" src="../javaScripts/jqueryJs/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="../javaScripts/bootstrapJs/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#target").click(function (event) {
                console.log(event);
                alert(this.value);
                alert(event.target.value);
            })
        })
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <input type="button" value="event.target返回事件的目标节点" id="target">
            </div>
        </div>
    </div>
</body>
</html>