<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .div-box{
            width: 500px;
            height: 300px;
            border: 1px solid red;
            position: relative;
            overflow-y: auto;
        }
        .w-bottom{
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .not-roll{

        }
    </style>

</head>
<body>
    <div class="div-box">
        <span class="w-bottom">看看是否底部居中</span>
    </div>
    <div class="div-box">
        <p class="not-roll">不滚动的文字</p>
        <p>文字文字文字</p><p>文字文字文字</p>
        <p>文字文字文字</p><p>文字文字文字</p>
        <p>文字文字文字</p><p>文字文字文字</p>
        <p>文字文字文字</p><p>文字文字文字</p>
        <p>文字文字文字</p><p>文字文字文字</p>
        <p>文字文字文字</p><p>文字文字文字</p>
        <p>文字文字文字</p><p>文字文字文字</p>
        <p>文字文字文字</p><p>文字文字文字</p>
        <p>文字文字文字</p><p>文字文字文字</p>
        <p>文字文字文字</p><p>文字文字文字</p>
    </div>
</body>
</html>