<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        div{
            width: 300px;
            height: 300px;
            border: #000 solid 1px;
            margin: 50px auto;
            overflow: hidden;
        }
        div img{
            cursor: pointer;
            transition: all 0.7s; // ie10 以及ie10 以上支持
        }
        div img:hover{
            transform: scale(1.1);
        }
    </style>
</head>
<body>
<div>
    <img src="../images/1.jpg" />
</div>
</body>
</html>
