<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tree3</title>
    <link rel="stylesheet" href="../css/tree2.css">
    <script type="application/javascript" src="../javaScripts/jqueryJs/jquery-3.1.1.min.js"></script>
</head>
<body>
<div id="wrap">
    <ul>
        <li>
            <span><i class="icon-jia-hui"></i>第一中学</span>
            <ul>
                <li>
                    <span><i class="icon-jia-hui"></i>一年级</span>
                    <ul>
                        <li><span><i class="icon-wendang-lan"></i>一年级-一班</span></li>
                        <li><span><i class="icon-wendang-lan"></i>一年级-二班</span></li>
                    </ul>
                </li>
                <li><span><i class="icon-wendang-lan"></i>二年级</span></li>
                <li><span><i class="icon-wendang-lan"></i>三年级</span></li>
            </ul>
        </li>
        <li>
            <span><i class="icon-jia-hui"></i>第二中学</span>
            <ul>
                <li><span><i class="icon-wendang-lan"></i>一年级</span></li>
                <li><span><i class="icon-wendang-lan"></i>二年级</span></li>
                <li><span><i class="icon-wendang-lan"></i>三年级</span></li>
                <li><span><i class="icon-wendang-lan"></i>四年级</span></li>
            </ul>
        </li>
        <li>
            <span><i class="icon-wendang-lan"></i>第三中学</span>
        </li>
    </ul>
</div>

</body>
<script>
    $(function () {

//        //加载样式
//        var spanList = $("#wrap ul span");
//        spanList.each(function () {
//            if ($(this).next("ul").length > 0) {
//                $(this).children("i").addClass("icon-jia-hui");
//                $(this).next("ul").css("display", "none");
//                $(this).attr("data-type","1");
//            } else {
//                $(this).children("i").addClass("icon-wendang-lan");
//                $(this).attr("data-type","3");
//            }
//            $(this).click(function () {
//                spanClick(this)
//            })
//        });
//        //每个span的点击事件
//        function spanClick(obj) {
//            spanList.each(function () {
//                $(this).removeClass('active');
//            });
//            $(obj).addClass('active');
//            var dataType = $(obj).attr("data-type");
//            var className;
//            if(dataType==='1'){
//                if($(obj).hasClass('active')){
//                    className = 'icon-jian-bai';
//                }else{
//                    className = 'icon-jian-hui'
//                }
//            }else if(dataType==='2'){
//                if($(obj).hasClass('active')){
//                    className = 'icon-jia-bai';
//                }else{
//                    className = 'icon-jia-hui'
//                }
//            }else{
//                if($(obj).hasClass('active')){
//                    className = 'icon-wendang-bai';
//                }else{
//                    className = 'icon-wendang-lan'
//                }
//            }
//
//            $(obj).children("i").removeClass().addClass(className);
//
//            $(obj).next("ul").toggle(function(){
//                if($(obj).next("ul").length>0){
//                    if($(obj).next("ul").css("display")==='none'){
//                        $(obj).attr("data-type","1");
//                    }else{
//                        $(obj).attr("data-type","2");
//                    }
//                }else{
//                    $(obj).attr("data-type","3");
//                }
//            });
//            //处理父级
//            if($(obj).parent("li").parent("ul").parent("li").length>0){
//                $(obj).parent("li").parent("ul").parent("li").children("span").children("i").removeClass().addClass("icon-jian-hui");
//            }
//            //处理同级
//            var liSib = $(obj).parent("li").siblings("li");
//            liSib.each(function (index,o) {
//                if($(o).children("ul").length>0){
//                    //如果有下级
//                    $(o).children("ul").css("display","none");
//                    $(o).children("span").children("i").removeClass().addClass("icon-jia-hui");
//                    $(o).children("span").attr("data-type","1");
//                }else{
//                    //如果没有下级  就是文档的那一级
//                    $(o).children("span").children("i").removeClass().addClass("icon-wendang-lan");
//                }
//            })
//            //处理下级  如果点击的有下一级 并且是刚刚点击过下级的情况
//            var childSpanList = $(obj).find("span");
//            childSpanList.each(function (index,spanO) {
//                if(spanO.next("ul").length>0){
//
//                }
//            })
//
//        }
    })

</script>
</html>