<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tree2</title>
    <link rel="stylesheet" href="../css/tree2.css">
    <script type="application/javascript" src="../javaScripts/jqueryJs/jquery-3.1.1.min.js"></script>
</head>
<body>
<div id="wrap">
    <ul>
        <li>
            <span><i></i>第一中学</span>
            <ul>
                <li>
                    <span><i></i>一年级</span>
                    <ul>
                        <li><span><i></i>一年级-一班</span></li>
                        <li><span><i></i>一年级-二班</span></li>
                    </ul>
                </li>
                <li><span><i></i>二年级</span></li>
                <li><span><i></i>三年级</span></li>
            </ul>
        </li>
        <li>
            <span><i></i>第二中学</span>
            <ul>
                <li><span><i></i>一年级</span></li>
                <li><span><i></i>二年级</span></li>
                <li><span><i></i>三年级</span></li>
                <li><span><i></i>四年级</span></li>
            </ul>
        </li>
        <li>
            <span><i></i>第三中学</span>
        </li>
    </ul>
</div>

</body>
<script>
    $(function () {
        //加载样式
        var spanList = $("#wrap ul span");
        spanList.each(function () {
            if ($(this).next("ul").length > 0) {
                $(this).children("i").addClass("icon-jia-hui");
                $(this).next("ul").css("display", "none");
            } else {
                $(this).children("i").addClass("icon-wendang-lan")
            }
            $(this).click(function () {
                spanClick(this)
            })
        });

        //每个span的点击事件
        function spanClick(obj) {
            //收起来情况：将 span 下的 ul 下的 ul 全部隐藏
            if ($(obj).next("ul").css("display") == 'block') {
                if ($(obj).next("ul").find("ul").length > 0) {
                    $(obj).next("ul").find("ul").css("display", "none");
                }
            }


            //处理样式
            var spanList = $("#wrap ul span");
            spanList.each(function () {
                $(this).removeClass("active");

                if ($(this).is($(obj))) {
                    console.log("true");
                    var thisI = $(obj).children("i");
                    if (thisI.hasClass('icon-jia-hui')) {
                        if (isSq($(obj))) {
                            thisI.removeClass().addClass('icon-jia-bai');
                        } else {
                            thisI.removeClass().addClass('icon-jian-bai')
                        }
                    } else if (thisI.hasClass('icon-jia-bai')) {
                        thisI.removeClass().addClass('icon-jian-bai')
                    } else if (thisI.hasClass('icon-jian-bai')) {
                        thisI.removeClass().addClass('icon-jia-hui')
                    } else if (thisI.hasClass('icon-jian-hui')) {
                        thisI.removeClass().addClass('icon-jia-bai')
                    } else if (thisI.hasClass('icon-wendang-lan')) {
                        thisI.removeClass().addClass('icon-wendang-bai')
                    }
                }

                else if (ishandelClass(this, obj)) {
                    $(this).children("i").removeClass().addClass('icon-jian-hui')
                } else {
                    console.log("false");
                    if ($(this).next("ul").length > 0) {
                        $(this).children("i").removeClass().addClass("icon-jia-hui");
                    } else {
                        $(this).children("i").removeClass().addClass("icon-wendang-lan")
                    }
                }
            });
            //切换当前 span  下的 ul
            $(obj).next("ul").toggle();
            $(obj).addClass("active");
        }

        function isSq(o) {
            if ($(o).next("ul")) {
                if ($(o).next("ul").css("display") == 'block') {
                    return true;
                } else {
                    return false;
                }
            }
        }

        //判断是否是当前元素的父级元素
        //o1 是遍历的元素 o2 是当前元素
        function ishandelClass(o1, o2) {
            var isHandel = false;
            //判断是否是父级元素
            var oPList = $(o2).parents();
            oPList.each(function () {
                if ($(this).children("span").is(o1)) {
                    isHandel = true;
                    return isHandel;
                }
            });
            return isHandel;
        }
    })

</script>
</html>