<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三级树</title>
    <style>
        ul{ list-style-type: none;}
        .one+ul{
            display:none;
        }
    </style>
    <script type="application/javascript" src="../javaScripts/jqueryJs/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div id="wrap">
        <ul>
            <li>
                <span class="one">这是第一个列表。</span>
                <ul>
                    <li>
                        <span class="one">这是第二个列表。</span>
                        <ul>
                            <li>这是第三个列表。</li>
                            <li>这是第三个列表。</li>
                        </ul>
                    </li>
                    <span>这是第二个列表(下面没有)</span>
                </ul>
            </li>
            <li>
                <span class="one">这是第一级</span>
                <ul>
                    <li>
                        <span class="one">这是第二个列表</span>
                        <ul>
                            <li>这是第三个列表。</li>
                            <li>这是第三个列表。</li>
                        </ul>
                    </li>
                    <li>
                        <span>这是第二个列表(下面没有)</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <script>
        $(function () {
            $("#wrap ul li span").click(function(event){
                var _this = $(event.target);
                if($(this).next()){
                    $(this).next().toggle('slow',function () {
                        
                    })
                }
            })
        })
    </script>
</body>
</html>