<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>css树形列表布局实例</title>
    <style>
        ul {
            background: #999999;
            font-size: 24px;
        }
    </style>
</head>

<body>
<ul>
    <li>这是第一个列表。
        <ul>
            <li>这是第二个列表。
                <ul>
                    <li>这是第三个列表。</li>
                    <li>这是第三个列表。</li>
                </ul>
            </li>
            <li>这是第二个列表。</li>
        </ul>
    </li>
    <li>这这是第一个列表。</li>
</ul>
<ol>
    <li>这是第一个列表。
        <ol>
            <li>这是二个列表元素显示效果的实例。
                <ol>
                    <li>这是第三个列表。</li>
                    <li>这是第三个列表。</li>
                </ol>
            </li>
            <li>这是第二个列表。</li>
        </ol>
    </li>
    <li>这是第一个列表。</li>
</ol>
</body>
</html>