<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bootstrap 下拉菜单</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="application/javascript" src="../javaScripts/jqueryJs/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="../javaScripts/bootstrapJs/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</head>
<body>
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="menu1">下拉菜单</button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li><a href="#">111111111</a></li>
                <li><a href="#">222222222</a></li>
                <li><a href="#">333333333</a></li>
                <li><a href="#">444444444</a></li>
            </ul>
        </div>
        <h3>带标题的下拉菜单</h3>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="menu2">带标题的下拉菜单</button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                <li class="dropdown-header">菜单标题1</li>
                <li>
                    <a href="#">111111111</a>
                </li>
                <li class="dropdown-header">菜单标题2</li>
                <li>
                    <a href="#">222222222</a>
                </li>
            </ul>
        </div>
        <h3>向上弹出的下拉菜单</h3>
        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="menu3">向上弹出的下拉菜单</button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
                <li><a href="#">111111111</a></li>
                <li><a href="#">222222222</a></li>
                <li><a href="#">333333333</a></li>
            </ul>
        </div>
        <h3>下拉菜单中禁用项和分割线</h3>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="menu4">禁用项和分割线
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu4">
                <li class="disabled"><a>111111111</a></li>
                <li class="divider"></li>
                <li><a href="#">222222222</a></li>
                <li class="divider"></li>
                <li><a href="#">333333333</a></li>
            </ul>
        </div>
    </div>
</body>
</html>