<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boostrap超大屏幕2</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="application/javascript" src="../javaScripts/jqueryJs/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="../javaScripts/bootstrapJs/bootstrap.min.js"></script>
    <style>
        body}
    </style>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <p>这是jumbotron应用二</p>
        </div>
    </div>
</body>
</html>