.icon-sprite, .icon-b-meetingData, .icon-b-meetingSurvey, .icon-b-people, .icon-b-setting, .icon-b-task, .icon-checkbox, .icon-checkboxed, .icon-dis-down, .icon-dis-up, .icon-down, .icon-icon-dataDownload-doc-sm, .icon-icon-dataDownload-exl-sm, .icon-icon-dataDownload-pdf-sm, .icon-icon-field-checkbox, .icon-icons-operation, .icon-jia-bai, .icon-jia-hui, .icon-jian-bai, .icon-jian-hui, .icon-o-moudle, .icon-radio-checked, .icon-radio, .icon-role-edit-all, .icon-role-edit-cancel, .icon-s-fail, .icon-s-success, .icon-s-tip, .icon-s-tip2, .icon-shouqi, .icon-up, .icon-wendang-bai, .icon-wendang-lan, .icon-zhankai { background-image: url('../images/icon-s0425dc5099.png'); background-repeat: no-repeat; }

.sprite-base { display: inline-block; vertical-align: middle; width: 20px; height: 20px; }
.sprite-base:focus { outline: none; }

.icon-b-meetingData { background-position: 0 0; }

.icon-b-meetingSurvey { background-position: 0 -40px; }

.icon-b-people { background-position: 0 -80px; }

.icon-b-setting { background-position: 0 -120px; }

.icon-b-task { background-position: 0 -160px; }

.icon-checkbox { background-position: 0 -200px; }

.icon-checkboxed { background-position: 0 -232px; }

.icon-dis-down { background-position: 0 -264px; }

.icon-dis-up { background-position: 0 -284px; }

.icon-down { background-position: 0 -304px; }

.icon-icon-dataDownload-doc-sm { background-position: 0 -324px; }

.icon-icon-dataDownload-exl-sm { background-position: 0 -340px; }

.icon-icon-dataDownload-pdf-sm { background-position: 0 -356px; }

.icon-icon-field-checkbox { background-position: 0 -372px; }

.icon-icons-operation { background-position: 0 -392px; }

.icon-jia-bai { background-position: 0 -407px; }

.icon-jia-hui { background-position: 0 -427px; }

.icon-jian-bai { background-position: 0 -447px; }

.icon-jian-hui { background-position: 0 -467px; }

.icon-o-moudle { background-position: 0 -507px; }
.icon-o-moudle:hover, .icon-o-moudle.o-moudle-hover { background-position: 0 -487px; }

.icon-radio-checked { background-position: 0 -527px; }

.icon-radio { background-position: 0 -547px; }

.icon-role-edit-all { background-position: 0 -594px; }
.icon-role-edit-all:hover, .icon-role-edit-all.role-edit-all-hover { background-position: 0 -567px; }

.icon-role-edit-cancel { background-position: 0 -648px; }
.icon-role-edit-cancel:hover, .icon-role-edit-cancel.role-edit-cancel-hover { background-position: 0 -621px; }

.icon-s-fail { background-position: 0 -675px; }

.icon-s-success { background-position: 0 -707px; }

.icon-s-tip { background-position: 0 -739px; }

.icon-s-tip2 { background-position: 0 -771px; }

.icon-shouqi { background-position: 0 -803px; }

.icon-up { background-position: 0 -1003px; }

.icon-wendang-bai { background-position: 0 -1023px; }

.icon-wendang-lan { background-position: 0 -1043px; }

.icon-zhankai { background-position: 0 -1063px; }

* { margin: 0; }
