.icon-sprite, .icon-s-fail, .icon-s-success, .icon-s-tip, .icon-s-tip2 { background-image: url('../images/icon-s224a849831.png'); background-repeat: no-repeat; }

.sprite-base { display: inline-block; vertical-align: middle; }
.sprite-base:focus { outline: none; }

.icon-s-fail { background-position: 0 0; }

.icon-s-success { background-position: 0 -32px; }

.icon-s-tip { background-position: 0 -64px; }

.icon-s-tip2 { background-position: 0 -96px; }

* { margin: 0; }
