.icon-sprite, .icon-b-meetingData, .icon-b-meetingSurvey, .icon-b-people, .icon-b-setting, .icon-b-task, .icon-icon-dataDownload-doc-sm, .icon-icon-dataDownload-exl-sm, .icon-icon-dataDownload-pdf-sm, .icon-icon-field-checkbox, .icon-icons-operation, .icon-jia-bai, .icon-jia-hui, .icon-jian-bai, .icon-jian-hui, .icon-o-moudle, .icon-role-edit-all, .icon-role-edit-cancel, .icon-s-fail, .icon-s-success, .icon-s-tip, .icon-s-tip2, .icon-wendang-bai, .icon-wendang-lan { background-image: url('../images/icon-sbf8661cd8f.png'); background-repeat: no-repeat; }

.sprite-base { display: inline-block; vertical-align: middle; width: 20px; height: 20px; }
.sprite-base:focus { outline: none; }

.icon-b-meetingData { background-position: 0 0; }

.icon-b-meetingSurvey { background-position: 0 -40px; }

.icon-b-people { background-position: 0 -80px; }

.icon-b-setting { background-position: 0 -120px; }

.icon-b-task { background-position: 0 -160px; }

.icon-icon-dataDownload-doc-sm { background-position: 0 -200px; }

.icon-icon-dataDownload-exl-sm { background-position: 0 -216px; }

.icon-icon-dataDownload-pdf-sm { background-position: 0 -232px; }

.icon-icon-field-checkbox { background-position: 0 -248px; }

.icon-icons-operation { background-position: 0 -268px; }

.icon-jia-bai { background-position: 0 -283px; }

.icon-jia-hui { background-position: 0 -303px; }

.icon-jian-bai { background-position: 0 -323px; }

.icon-jian-hui { background-position: 0 -343px; }

.icon-o-moudle { background-position: 0 -383px; }
.icon-o-moudle:hover, .icon-o-moudle.o-moudle-hover { background-position: 0 -363px; }

.icon-role-edit-all { background-position: 0 -430px; }
.icon-role-edit-all:hover, .icon-role-edit-all.role-edit-all-hover { background-position: 0 -403px; }

.icon-role-edit-cancel { background-position: 0 -484px; }
.icon-role-edit-cancel:hover, .icon-role-edit-cancel.role-edit-cancel-hover { background-position: 0 -457px; }

.icon-s-fail { background-position: 0 -511px; }

.icon-s-success { background-position: 0 -543px; }

.icon-s-tip { background-position: 0 -575px; }

.icon-s-tip2 { background-position: 0 -607px; }

.icon-wendang-bai { background-position: 0 -639px; }

.icon-wendang-lan { background-position: 0 -659px; }

* { margin: 0; }

ul { width: 500px; border: 1px solid red; overflow-x: hidden; }

ul li { list-style-type: none; margin-left: 20px; cursor: pointer; }

ul li span { width: 100%; display: inline-block; padding: 6px 0; }

ul li span.active { background-color: #00b3ee; }

span > i { display: inline-block; width: 20px; height: 20px; vertical-align: middle; margin-right: 5px; }

.dis-n { display: none; }

.dis-b { display: block; }
